# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/

# Gradle files
build/

# Compiled Java bytecode
*.class

# Package files
*.jar
*.war
*.ear

# IDE-specific files
.vscode/
*.iml
*.ipr
*.iws

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db